.generiHtml h1 {
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
}

.generiHtml h2 {
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
}

.generiHtml h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.generiHtml p {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 1.6rem;
}

.generiHtml a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
}

.generiHtml a:hover {
    text-decoration: underline;
}

.generiHtml ul {
    margin-bottom: 2.4rem;
}

.generiHtml li {
    margin-bottom: 0.8rem;
}

.generiHtml img {
    max-width: 100%;
    height: auto;
    border-radius: 0.8rem;
    display: block;
    margin: 1.6rem 0;
}