.button {
    border: none;
    background: var(--primary);
    color: var(--text-over-primary);
    transition: all 0.3s ease-in-out;
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    min-width: 24rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
    margin: 4.8rem 0;
}

.button svg {
    width: 3.2rem;
    height: 3.2rem;
}

.button:hover {
    filter: brightness(80%);
}

.green {
    background-color: var(--primary);
    color: var(--text-over-primary);
}

.red {
    background-color: var(--error);
    color: var(--text-over-error);
}